html {
    background-image: url(https://wallpapercave.com/wp/wp5076799.jpg);
    background-size: 1920px;
    width: 100%;
    height: 100%;
}

html, body {
    overflow-wrap: break-word;
    overflow: hidden;
}

body {
    background-color: rgba(59, 59, 62, 0.526);
    padding-bottom: 10vh;
    padding-top: 0vh;
    border-radius: 20%;
    border: 5px solid black;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 5%;
}

.container * {
    font-family: 'Calibri';
    color: white;
}

#weather {
    font-size: 4rem;
    font-weight: 900;
    text-shadow: 0.2rem 0.2rem black;
}

#city {
    font-size: 2rem;
    padding-top: 0.5vh;
    padding-bottom: 1.5vh;
    text-shadow: 0.2rem 0.2rem black
}

#date, #time {
    font-size: 1.2rem;
    font-weight: 900;
    text-shadow: 0.2rem 0.2rem black
}

#temp {
    padding-top: 2vh;
    font-size: 5rem;
    text-shadow: 0.2rem 0.2rem black
}

#city {
    opacity: 0%;
    animation-fill-mode: forwards;
    animation: opacity 3s forwards, slidein 3s forwards;
    animation-delay: 1.2s;
}
    @keyframes opacity {
        0%{opacity:0;}
        100%{opacity:1;}
    }
    @keyframes slidein {
    from {transform:translateX(-1000px);}
    to {transform:translateX(0%);}
}

#weather {
    opacity: 0%;
    animation-fill-mode: forwards;
    animation: opacity 3s forwards, slidein2 3s forwards;
    animation-delay: 1s;
}
    @keyframes opacity {
        0%{opacity:0;}
        100%{opacity:1;}
    }
    @keyframes slidein2 {
    from {transform:translateX(1000px);}
    to {transform:translateX(0%);}
}

#temp {
    opacity: 0%;
    animation-fill-mode: forwards;
    animation: opacity 3s forwards;
    animation-delay: 2s;
}
    @keyframes opacity {
        0%{opacity:0;}
        100%{opacity:1;}
    }

#date, #time {
    opacity: 0%;
    animation-fill-mode: forwards;
    animation: opacity 3s forwards;
    animation-delay: 3.5s;
}
    @keyframes opacity {
        0%{opacity:0;}
        100%{opacity:1;}
    }


.daily {
    padding-top: 25vh;
    gap: 6vw;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: middle;
}

.searchLoc {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    font-weight: 900;
    text-shadow: 0.1rem 0.1rem black;
    color: rgb(255, 255, 255);
    font-family: 'Calibri'
}

.search {
    display: flex;
    width: 10%;
    padding-top: 1vh;
    padding-bottom: 1vh;
    color: white;
    text-shadow: 0.1rem 0.1rem black;
    margin-top: 1vh;
    background-color:rgba(116, 116, 116, 0.3);
    border: none;
    border-radius: 10px;
    text-align: center;
}

.days {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: middle;
    text-align: center;
}

.day {
    font-family: 'Calibri';
    color: white;
    font-size: 2rem;
    font-weight: 900;
    text-shadow: 0.1rem 0.1rem black
}

.high {
    font-family: 'Calibri';
    color: white;
    font-size: 3rem;
    font-weight: 900;
    text-shadow: 0.1rem 0.1rem black
}

.low {
    font-family: 'Calibri';
    color: white;
    font-size: 1.5rem;
    font-weight: 900;
    text-shadow: 0.1rem 0.1rem black
}

.weatherPic {
    height: 3vw;
    width: 3vw;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}
