html {
    background-image: url(https://wallpapercave.com/wp/wp5076799.jpg);
    background-size: cover;
    background-position: center;
}

html, body {
    overflow-wrap: break-word;
}


.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 5%;
}

.container * {
    font-family: 'Calibri';
    color: white;
}

#weather {
    font-size: 4rem;
    font-weight: 900;
    text-shadow: 0.2rem 0.2rem black;
}

#city {
    font-size: 2rem;
    padding-top: 0.5vh;
    padding-bottom: 1.5vh;
    text-shadow: 0.2rem 0.2rem black
}

#date, #time {
    font-size: 1.2rem;
    font-weight: 900;
    text-shadow: 0.2rem 0.2rem black
}

#temp {
    padding-top: 0vh;
    font-size: 5rem;
    text-shadow: 0.2rem 0.2rem black
}

#city {
    opacity: 0%;
    animation-fill-mode: forwards;
    animation: opacity 3s forwards, slidein 3s forwards;
    animation-delay: 1.2s;
}
    @keyframes opacity {
        0%{opacity:0;}
        100%{opacity:1;}
    }
    @keyframes slidein {
    from {transform:translateX(-1000px);}
    to {transform:translateX(0%);}
}

#weather {
    opacity: 0%;
    animation-fill-mode: forwards;
    animation: opacity 3s forwards, slidein2 3s forwards;
    animation-delay: 1s;
}
    @keyframes opacity {
        0%{opacity:0;}
        100%{opacity:1;}
    }
    @keyframes slidein2 {
    from {transform:translateX(1000px);}
    to {transform:translateX(0%);}
}

#temp {
    opacity: 0%;
    animation-fill-mode: forwards;
    animation: opacity 3s forwards;
    animation-delay: 2s;
}
    @keyframes opacity {
        0%{opacity:0;}
        100%{opacity:1;}
    }

.daily {
    overflow-wrap: anywhere;
    opacity: 0%;
    animation-fill-mode: forwards;
    animation: opacity 3s forwards;
    animation-delay: 2s;
}
    @keyframes opacity {
        0%{opacity:0;}
        100%{opacity:1;}
    }

#date, #time {
    opacity: 0%;
    animation-fill-mode: forwards;
    animation: opacity 3s forwards;
    animation-delay: 3.5s;
}
    @keyframes opacity {
        0%{opacity:0;}
        100%{opacity:1;}
    }


.daily {
    padding-top: 25vh;
    gap: 6vw;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: middle;
}

.searchLoc {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    font-weight: 900;
    text-shadow: 0.1rem 0.1rem black;
    color: rgb(255, 255, 255);
    font-family: 'Calibri';
    opacity: 0%;
    animation-fill-mode: forwards;
    animation: opacity 3s forwards;
    animation-delay: 2s;
}
    @keyframes opacity {
        0%{opacity:0;}
        100%{opacity:1;}
    }


.search {
    display: flex;
    max-width: 15%;
    padding-top: 1vh;
    padding-bottom: 1vh;
    color: white;
    text-shadow: 0.05rem 0.05rem black;
    box-shadow: 0px 0px 10px blue;
    margin-top: 1vh;
    background-color:rgba(116, 116, 116, 0.3);
    border: none;
    border-radius: 10px;
    text-align: center;
    transition: 0.2s ease-out;
}

.search:hover, .search:active, .search:focus {
    transition: 0.2s ease-out;
    size: 125%;
}

.days {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: middle;
    text-align: center;
}

.day {
    font-family: 'Calibri';
    color: white;
    font-size: 2rem;
    font-weight: 900;
    text-shadow: 0.1rem 0.1rem black
}

.high {
    font-family: 'Calibri';
    color: white;
    font-size: 3rem;
    font-weight: 900;
    text-shadow: 0.1rem 0.1rem black
}

.low {
    font-family: 'Calibri';
    color: white;
    font-size: 1.5rem;
    font-weight: 900;
    text-shadow: 0.1rem 0.1rem black
}

.weatherPic {
    max-height: 3vw;
    max-width: 3vw;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

@media screen and (max-width: 1300px) {

    .days {
        scale: 70%;
        margin: 0;
        padding: 0;
    }

    .daily {
        gap: 1vw;
    }

    .search {
        max-width: 30%;
    }
  }

  @media screen and (max-width: 890px) {

    .days {
        scale: 50%;
        margin: 0;
        padding: 0;
    }

    .daily {
        gap: 0;
    }
  }

  @media screen and (max-width: 825px) {

    .daily {
        flex-direction: column;
        gap: 6vh;
    }

    .days {
        scale: 125%;
    }
  }
